<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/notes.css' %} ">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <h1>Notes</h1>

        <a href=" {% url 'ajaxNotes:create' %} ">New note</a>

        <div class="notes">
            {% if notes %}
                {% for note in notes %}
                    <div class="note">
                        <h3>{{note.title}}</h3>
                        <p> {{note.text}} </p>

                        <small> {{note.date}} </small>
                        <button class="delete" data-noteid="{{note.id}}">Delete this</button>
                    </div>
                {% endfor %}
            {% else %}
                <h1>NO NOTES</h1>
            {% endif %}
        </div>
    </div>

    <input type="hidden" data-csrf="{{csrf_token}}" id="csrfData">
    <script src=" {% static 'index.js' %} "></script>
</body>

</html>